@font-face {
    font-family: 'Inter';
    src: url("/assets/Inter.ttf");
}

body {
    background-color: #1C1C25;
}

p {
    font-size: 16px;
    font-weight: 400;
}

#navbar {
    background-color: #24242F;
    font-size: 24px;
    font-weight: 800;
    height: 70px;
    filter: drop-shadow(0px 5px);
}

#mainContent {
    background-color: #2C2C3A;
}

#logo {}

#logo img {
    height: 173px;
    width: 238px;
}

#logo h1 {
    font-size: 36px;
    font-weight: 700;
}

* {
    font-family: 'Inter';
    color: #FFFFFF;
}