@font-face {
    font-family: 'Inter';
    src: url("assets/Inter.ttf");
}

html {
    scroll-behavior: smooth;
}

#top {
    background-image:
        radial-gradient(#1C1C25 1px, transparent 1px),
        radial-gradient(#1C1C25 1px, transparent 1px),
        radial-gradient(#fb65d525 2px, transparent 2px),
        radial-gradient(#fb65d525 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: #1C1C25;
}

p {
    font-size: 16px;
    font-weight: 400;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: #24242F;
    font-size: 24px;
    font-weight: 800;
    height: 70px;
    box-shadow: 0px 0px 50px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    padding: 15px;
}

#navbar a:hover {
    text-decoration: underline;
}

.scroll-to-top {
    margin: 0 auto;
    padding-bottom: 50px;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
}

#mainContent {
    background-color: #2C2C3A;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-bottom: 50px;
    width: 100%;
    max-width: 950px;
    box-shadow: 0px 0px 30px black;

}

#logo {
    margin: 0 10px 0 10px;
}

#logo img {
    padding: 50px;
    height: 100%;
    width: 100%;
    max-width: 238px;
    max-height: 173px;
    display: block;
    margin: 0 auto;
    justify-content: center;
}

#logo h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

#memberAnchor {
    margin: 0 auto;
    padding: 0px 115px;
}

#memberSection {
    margin: 0 auto;
    padding-top: 50px;
}

#memberSection h2 {
    margin-bottom: 10px;
}

#memberSection img {
    height: 100%;
    width: 100%;
    max-height: 250px;
    max-width: 250px;
    border-radius: 20px;
    margin: 0 30px 0 30px;
}

#projectSection {
    margin-top: 50px;
    padding-bottom: 100px;
}

#projectSection h2 {
    margin-bottom: 30px;
}

.member,
.memberRev {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 70px 0 70px;
    padding: 30px;
}

.member {
    flex-direction: row;
}

.memberRev {
    flex-direction: row-reverse;
}

.memberDesc {
    text-align: left;
    margin: 0 30px 0 30px;
    width: 100%;
    max-width: 400px;
}

.memberName {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}

* {
    font-family: 'Inter';
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

